@use '../../../assets/styles/variables.scss' as v;

.CampaignCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: transform 0.3s;
    border-radius: 12px;
    border: 1px solid v.$DIVIDER;
    text-decoration: none;

    &:hover {
        transform: scale(1.07);
    }

    .cardImage {
        width: 100%;
        height: v.$CAMPAIGN_CARD_IMAGE_HEIGHT;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

    .name {
        color: v.$SECONDARY_FONT_COLOR;
        padding: 16px;
        margin-bottom: 0;
    }
}
