@use '../../../assets/styles/variables.scss' as v;

.CampaignInfoBlock {
    display: flex;
    gap: 12px;
    padding-right: 20px;

    .image {
        width: 80px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        border: 1px solid v.$DIVIDER;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .name {
            font-size: 26px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}
