//colors
$DIVIDER: #f2f4f6;
$SECONDARY_FONT_COLOR: #404040;
$MAIN_FONT_COLOR: #000000;
$MAIN_BG: #ffff;

// sizes
$MENU_FONT_SIZE: 16px;
$MENU_LINK_HOVER_BG: #f2f4f6;

// campaign cards
$CAMPAIGN_CARD_IMAGE_HEIGHT: 200px;

// statuses
$ACTIVE_COLOR: #5bf0a5;
$REJECTED_COLOR: #ef2c4f;

//switcher
$SWITCHER_CHECKED: #000000;
$SWITCHER_UNCHECKED: #cad4dd;
